<div class="modal fade" ng-controller="detailsCtrl" id="detail" tabindex="-1" role="dialog" aria-labelledby="detail">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">{{album.title}}</h4>
      </div>
      <div class="modal-body">
		<span>
			{{album.videos[0].uri}}
		</span>
        {{album.artists[0].name}}
		{{album.extraartists[0].name}}
        {{album.genre}}
        {{album.label}}
        {{album.type}}
        {{album.year}}        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
