body {
	margin: 0px;
	padding-top: 90px;
}
.container {
	width: 100%;
}
#custom-search-input{
    padding: 0px;
    border: 0px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 14px;
}
*, *:before, *:after {box-sizing:  border-box !important;}

.catch-phrase {
    color: #aaa;
    display: inline-block;
    float: right;
    font-size: 1.5em;
    padding: 1em 0 0;
    text-transform: capitalize;
}

.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block;
}
.productsrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;
}
