<!DOCTYPE html>
<html ng-app="discogsApp">
<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
</head>
<body ng-controller="mainCtrl">
<form ng-submit="search(query);">
    <input type="text" ng-model="query" placeholder="Enter artist..." />
    <input type="submit" value="Search" />
</form>

<ul>
    <li ng-repeat="album in album_listing">
        <img src="{{album.thumb}}" />
        <h3>{{album.title}}</h3>
        <h5>Release: {{album.year}}</h5>
    </li>
</ul>

<div ng-view></div>

</body>
</html>
